# Wails build output
build/bin

# Frontend
node_modules
frontend/node_modules
frontend/dist

# Binarios compilados localmente
*.exe

# Archivos de configuración local (contiene API key)
config.json

# Caché de Go
*.test

# VS Code
.vscode/

# JetBrains
.idea/
